main {
  overflow: auto;
  margin: 15px auto;
  padding: 0px;

  width: 100%;
  height: 100%;

  background-color: #212427;

  border-radius: 1rem;

  h1 {
    margin: 80px 130px auto;
    font: var(--headingmd);
  }

  #sobre-inicial {

    display: grid;
    grid-template-columns: 2rem 8rem;

    margin: 40px 130px auto;

    legend {
      margin-top: 4px;
      font: var(--headingsm);
    }

    img {
      color: #869198;
    }
  }

  #sobre-title {

    margin: 24px 130px auto;

    #title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 5px;

      width: 560px;
      height: 26px;

      flex: none;
      order: 0;
      flex-grow: 0;

      font: var(--bodysm);
      color: #C8CDD0;
    }

    #nomedoevento {
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 16px;
      gap: 8px;

      width: 560px;
      height: 48px;

      background: #1C1F21;
      border: 1px solid #363B40;
      border-radius: 8px;

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

    }

  }

  #sobre-iniciofim {
    display: grid;
    grid-template-columns: 39% 50%;
    margin: 24px 130px auto;

    #inicio {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 5px;

      width: 560px;
      height: 26px;

      flex: none;
      order: 0;
      flex-grow: 0;

      font: var(--bodysm);
      color: #C8CDD0;
    }

    #fim {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 5px;
  
      width: 560px;
      height: 26px;
  
      flex: none;
      order: 0;
      flex-grow: 0;
  
      font: var(--bodysm);
      color: #C8CDD0;
    }

    #date {
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 16px;
      gap: 8px;

      width: 272px;
      height: 48px;

      background: #1C1F21;
      border: 1px solid #363B40;
      border-radius: 8px;

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  }

  #date::placeholder {
    font-size: 16px;
    color: #869198;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  input[type="date"] {
    text-transform: uppercase;
    font-size: 16px;
    color: #869198;
  }

  #sobre-tipolocal {
    display: grid;
    grid-template-columns: 39% 50%;
    margin: 24px 130px auto;

    #tipo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 5px;

      width: 560px;
      height: 26px;

      flex: none;
      order: 0;
      flex-grow: 0;

      font: var(--bodysm);
      color: #C8CDD0;
    }

    #tipo1 {
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px 16px;
      gap: 4px;
      isolation: isolate;

      width: 272px;
      height: 48px;

      background: #1C1F21;
      border: 1px solid #363B40;
      border-radius: 8px;

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }

    #local {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 4px;
      gap: 5px;

      width: 560px;
      height: 26px;

      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;

      font: var(--bodysm);
      color: #C8CDD0;
    }

    #linkouendereco {
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px 16px;
      gap: 4px;
      isolation: isolate;

      width: 272px;
      height: 48px;

      background: #1C1F21;
      border: 1px solid #363B40;
      border-radius: 8px;

      flex: none;
      order: 1;
      flex-grow: 0;
    }

  }


}
