* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 1rem;

  .lc {
    --font-family1: 'Leckerli One';
    --Logo: 400 40px/100% var(--font-family1);
    color: #FF598B;
  }
  
  .bl {
    --font-family2: 'Baloo 2';
    --headingmd: 700 28px/100% var(--font-family2);
    --headingsm: 700 18px/100% var(--font-family2);
    color: #F9F9F9;
  }
  
  .os {
    --font-family3: 'Open Sans';
    --bodymd: 400 16px/100% var(--font-family3);
    --bodysm: 400 14px/100% var(--font-family3);
    --bodyxs: 400 12px/100% var(--font-family3);
    color: #869198;
  }
}

body {
  background-color: #131516;
  overflow: hidden;
}

::placeholder {
  font-size: 16px;
  color: #869198;
}
